@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
:root {
  /* Default setup is for Dark mode */
  --clr-main-bg: #2b2b2b;
  --clr-main-content: #fff;
  --clr-sub-title: #434242;
  --clr-counter: #de4848;
  --clr-flip-text: #999393;
  --clr-flip-top: #454545;
  --clr-flip-bottom: #454545;
  --clr-counter-top: #393939;
  --clr-counter-bottom: #434242;
  --ft-header: "Raleway", sans-serif;
  --clr-accent: #f32770;
}

*,
*::after,
*::before,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
/* Navigation / Config */
nav {
  font-family: "Inter", sans-serif;
  position: absolute;
  padding: 1rem;
  height: fit-content;
  width: 10rem;
  right: 120px;
  top: 40px;
  color: var(--clr-main-content);
  border-radius: 16px;
  background: #2b2b2b;
  box-shadow: 5px 5px 10px #222222, -5px -5px 10px #343434;
  transition: 0.1s all linear;
}
.store {
  /* position: absolute; */
  display: none;
}
.nav.active {
  transform: scale(1);
  z-index: 1;
}

.form,
.input-box {
  display: flex;
  flex-direction: column;
}
.form.active {
  display: flex;
}
.form {
  justify-content: space-between;
  gap: 2rem;
  border: 1px solid var(--clr-counter-top);
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--clr-main-bg);
}
dialog {
  margin: auto;
  border: none;
  border-radius: 1rem;
  outline: none;
  background: transparent;
  color: var(--clr-flip-text);
}
dialog.active {
  display: flex;
}
::backdrop {
  background: #0d0d0d;
  opacity: 0.75;
}

.closemodal {
  /* Parent */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#closemodal {
  /* Child */
  width: 1.5rem;
  height: 1.5rem;
}
.cls-1 {
  fill: var(--clr-flip-text);
}

.input-sets {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.input-box {
  gap: 0.5rem;
}
.input-box input {
  width: 6rem;
  height: 2rem;
  outline: none;
  border: none;
  /* border-radius: 6px; */
  padding-inline-start: 10px;
  background: transparent;
  border-bottom: 1px solid var(--clr-counter-bottom);
  color: var(--clr-main-content);
}
.actionbtn {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  gap: 1rem;
}
.actionbtn button {
  height: 2rem;
  width: 100%;
  outline: none;
  border-radius: 6px;
  text-transform: uppercase;
}
.btn-primary {
  border: none;
  background-color: var(--clr-counter-top);
  color: var(--clr-counter);
}
.btn-secondary {
  background-color: transparent;
  border: 1px solid var(--clr-flip-text);
  color: var(--clr-flip-text);
}
.menubtn {
  position: absolute;
  right: 100px;
  top: 40px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(
    228deg,
    #c75454 49.81%,
    rgba(223, 223, 223, 0) 138.43%
  );
  transition: 0.3s all linear;
}
.hand {
  position: absolute;
  top: 10px;
  left: -6px;
  transition: 0.3s all linear;
}
/* dialog[open] .menubtn {
  width: 0;
  height: 0;
} */
dialog[open].hand {
  transform: rotate(-90deg);
}
/* .hand.active {
  transform: rotate(-90deg);
} */
/* Content */
.main-container {
  width: 100%;
  display: flex;
  /* align-items: center; */
  padding: 2rem 2rem;
  background-color: var(--clr-main-bg);
  color: var(--clr-main-content);
  font-family: "Inter", sans-serif;
}
.brand {
  font-family: var(--ft-header);
  font-size: 2.25rem;
  height: 10vh;
  align-items: center;
  padding: none;
}
.content {
  height: 90vh;
  flex-direction: column;
}
/* COUNTER */
.segments {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-end;
  user-select: none;
}
.segment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.section-title {
  text-transform: capitalize;
  color: var(--clr-sub-title);
  font-size: 2em;
  font-family: "Inter", sans-serif;
}
.flip-clock {
  height: 40%;
  /* border-bottom: 2px solid var(--clr-main-content); */
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  background: #2b2b2b;
  box-shadow: 5px 5px 10px #222222, -5px -5px 10px #343434;
  border-radius: 0.1em;
  font-size: 8em;
  color: var(--clr-flip-text);
  /* color: var(--clr-counter); */

  /* Not imported yet */
  font-weight: 600;
}
.flip-top,
.flip-bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: 0.75em;
  width: 1.5em;
  line-height: 1;
  padding: 0.25em;
  overflow: hidden;
}
.flip-top,
.flip-card .top-flip {
  background-color: var(--clr-counter-top);
  /* background-color: #f7f7f7; */
  border-top-right-radius: 0.1em;
  border-top-left-radius: 0.1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
.flip-bottom,
.flip-card .bottom-flip {
  background-color: var(--clr-flip-bottom);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-bottom-right-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
}
.flip-card .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}
@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

.section-counter {
  display: flex;
  gap: 1rem;
}
#countendat {
  color: var(--clr-counter-bottom);
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  font-family: "Inter", sans-serif;
}
.input-title {
  font-size: 1rem;
}
/* TODO LIST */
.todolists {
  height: 60%;
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todolist {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
}
.todolist .addNewItem {
  font-family: "Inter", sans-serif;
  width: 500px;
  padding: 20px;
  font-size: 1.25rem;
  outline: none;
  background-color: transparent;
  color: var(--clr-flip-text);
  border: 1px solid var(--clr-flip-top);
  border-radius: 5px;
}
.addNewItem.timeinp {
  width: 10%;
}
.addNewItem::placeholder {
  font-size: 0.9rem;
}
.addNewItem:focus {
  border-color: var(--clr-counter);
}
/* .addNewItemdate {
  width: 265px;
  letter-spacing: 2px;
} */
input[type="date"] {
  width: 200px;
}
.addlist {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.addlist > svg > path {
  fill: var(--clr-flip-text);
}
.addlist.active > svg > path {
  fill: var(--clr-counter);
}
.addlist:hover > svg > path {
  fill: var(--clr-counter);
}
.container-todolist {
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding-inline: 2rem;
  height: 100%;
}
.todolist {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
}
.todo-timer {
  color: var(--clr-counter);
  cursor: pointer;
}
.timeinp {
  width: 10%;
}
.todo-items {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  overflow-y: auto;
  padding-inline-end: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.todo-item {
  padding: 1rem;
  height: fit-content;
  /* width: 25%; */
  color: var(--clr-flip-text);
  border: 1px solid var(--clr-flip-top);
  border-radius: 5px;
  display: flex;
  gap: 1rem;
  align-items: baseline;
  font-size: 1.25rem;
  justify-content: center;
  /* flex: 1; */
}
.todo-content {
  line-height: 1;
  word-break: break-word;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.25;
}
.checkbox {
  width: 20px;
  height: 20px;
  accent-color: var(--clr-accent);
}
.checkbox:checked + .todo-content {
  text-decoration: line-through;
  color: var(--clr-flip-bottom);
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px var(--clr-flip-top);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-counter-top);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-counter-top);
}

/* Media Query */
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 600px) {
  .flip-card {
    font-size: 6rem;
  }
  .flip-top,
  .flip-bottom,
  .flip-card .top-flip,
  .flip-card .bottom-flip {
    width: 8rem;
  }
}

.repeatTimer {
  justify-content: space-between;
}
#repeatTimer {
  width: 1rem;
  height: 1rem;
}

/* Trail work */
.trail-content {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.trail-timer {
  color: var(--clr-counter-bottom);
  font-size: 1rem;
}
.trail-timer span {
  color: #f32770;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid var(--clr-flip-text);
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  border: 1px solid var(--clr-flip-text);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--clr-accent);
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 8px;
  top: 3px;
  width: 8px;
  height: 16px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
